/*
@font-face {
  font-family: "glitch";
  src: url('GlitchSlap-R8me.ttf');
}
*/

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#navbar-title {
  font-family: glitch;
  color: #fff !important
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

#icon {
  margin-bottom: 20px;
}

.is-sticky {
  position: sticky;
  top:0px;
}

.has-shadow-down {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.has-shadow-up {
    box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}

/*
hr {
  max-width: 50px;
  background-color: #5c5c5c;
  border-width: 3px;
  margin-top:20px;
  margin-bottom:20px;
  box-sizing: content-box;
  margin-inline-start:auto;
  margin-inline-end: auto;
}
*/

hr.light {
  background-color: #fff;
}

#glass i  {
  color:#00000020 !important;
}

#glass h4  {
  color:#00000020 !important;
}

#glass {
  background:#999a9a75;
}

#up-icon {
  margin-left: auto;
  margin-right: auto;
}

#posts {
  margin-top: 40px;
  min-height:100%
}


body {
  font-family: "Menlo", "Meslo LG", monospace;
}

@keyframes blink {
  from, to { color: transparent }
  50% { color: #fff; }
}

#blink {
  animation:
  blink .5s step-end infinite;
}

.meta {
  margin-right: 17px;
}

.post {
  display: flex;
  flex-direction: row;
}

#footer {
  margin-top:auto;
}
